#header {
  background-color: lemonchiffon;
  border-bottom-style: inset;
  border-bottom-width: 20px;
}

#nameCompany,#slogan {
  text-align: center;
  font-family: 'Pacifico', cursive;
}
#stores {
  text-align: right;
  width: 314px;
  border: 3px #9E9E9E;
  padding: 18px;
  border-top: solid black;
  border-left: solid black;
  border-right: solid black;
  border-bottom: solid black;
  text-align: center;
  display: block;
  margin: auto;
  font-family: 'Pacifico', cursive;
}
#fish {
  text-align: center;
  display: block;
  margin: auto;
}

#history {
  left: 450px;
  bottom: 220px;
  font-weight: 800;
  font-size: 18px;
  padding-top: 50px;
  padding: 2%;
  width: 79%;
  font-family: 'Pacifico', cursive;
}
#market {
  border-radius: 8px;
  text-align: center;
  display: block;
  margin: auto;

}


#link {
  text-align: center;
}

body {
  background-color: white;

}

#tableName {
  font-family: 'Vidaloka', serif;
}
#copyRight {
  text-align: center;
  background: lemonchiffon;
}

#clothes {
  isplay: inline-block;
  vertical-align:top;
  width: 44%;
  padding: 0% 2%;

}

#right-content {
  float: right;
  margin-left: 80%;
    margin-top: -45%;
}
